// В этом файле должны быть стили для БЭМ-блока order-details, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.order-details {

  $block-name:                &; // #{$block-name}__element

  border-bottom: 1px solid #ccc;
  margin-bottom: 30px;
  @media (min-width: $screen-xl) {
    margin: 0 100px 30px 100px;
  }

  &__title {
    text-align: center;
    font-size: 36px;
    line-height: 42px;
    font-weight: 500;
    margin-top: 0;
    margin-bottom: 30px;
  }

}
