// В этом файле должны быть стили для БЭМ-блока layout, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.layout {

  $block-name:                &; // #{$block-name}__element
  @include row;
  padding: 20px 10px;
  &__fw {
    @include make-col(12);
    &--page-form {
      .page__title {
        text-align: center;
      }
      .page__title-main {
        padding-left: 15px;
        padding-right: 15px;
      }
    }
  }
  &__main {
    @include make-col(12);
  }
  &__l-col,
  &__r-col {
    display: none;
    margin-bottom: 20px;
    overflow: hidden;
    .col-wrap {
      background: #fff;
      height: 100%;
    }
  }
  @media (min-width: $screen-lg) {
    &__main {
      @include make-col(9);
    }
    &__l-col,
    &__r-col {
      display: block;
    }
    &__l-col {
      @include make-col(3);
    }
    &__r-col {
      @include make-col(3);
    }
  }
}
