// В этом файле должны быть стили для БЭМ-блока account, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.account {

  $block-name:                &; // #{$block-name}__element

  @include row;

  &__parth {
    margin-bottom: 30px;
    &--info {
      @include make-col(12);
    }
    &--delivery {
      @include make-col(12);
      @media (min-width: $screen-xl) {
        @include make-col(5);
      }
    }
    &--newsletters {
      @include make-col(12);
      @media (min-width: $screen-xl) {
        @include make-col(5);
      }
    }
  }
  &__parth-title {
    font-size: 24px;
    margin-top: 30px;
    margin-bottom: 30px;
  }


  &__stat {
    border: 1px solid #000;
    padding: 30px;
    font-size: 16px;
    display: inline-block;
    margin-bottom: 40px;
  }
  &__stat-item {
    &:not(:last-child) {
      margin-bottom: 20px;
    }
    span {
      font-weight: 500;
    }
  }

  &__info {
    font-size: 16px;
  }
  &__info-item {
    &:not(:last-child) {
      margin-bottom: 20px;
    }
    span {
      font-weight: 500;
    }
  }


  &__delivery {
    font-size: 16px;
    ul {
      li {
        margin-bottom: 20px;
        position: relative;
      }
    }
  }
  &__delivery-item {
    @media (min-width: $screen-xl) {
      max-width: 340px;
    }
    .close {
      position: absolute;
      right: 0;
      top: 0;
    }
  }

}
