// В этом файле должны быть стили для БЭМ-блока delivery-form, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.delivery-form {

  $block-name:                &; // #{$block-name}__element

  &__row {
    @include row;
  }

  &__col {
    @include make-col(12);
    @media (min-width: $screen-xl) {
      @include make-col(6);
    }
  }

  &__wrap {
    border: 1px solid #000;
    padding: 30px 40px;
  }

  &__item-var {
    font-size: 28px;
    line-height: 34px;
    font-weight: 400;
    color: #000;
    padding: 30px 0;
    display: flex;
    align-items: center;
    .icon {
      width: 34px;
      height: 34px;
      fill: $color-main;
      margin-left: 15px;
      display: none;
    }
  }

  &__item-var-caption {
    border: 1px solid #000;
    padding: 25px 30px;
    margin-bottom: 25px;
  }

  &__item {
    opacity: 0.3;
    &--active {
      color: #000;
      opacity: 1;
      .icon {
        display: block;
      }
    }
  }

  &__group {
    margin-bottom: 25px;
  }
  &__group-title {
    font-size: 24px;
    font-weight: 400;
    margin-bottom: 25px;
  }

  &__confirm {
    text-align: center;
    padding: 30px 0;
  }

}
