// В этом файле должны быть стили для БЭМ-блока action, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.action {

  $block-name:                &; // #{$block-name}__element
  padding: 25px 20px;
  background: #fff;
  &__header {

  }
  &__header-title {
    font-size: 24px;
    line-height: 36px;
    font-weight: 400;
    margin: 0;
  }
  &__body {}
  &__card {}
  &__card-name {
    font-size: 28px;
    font-weight: 500;
    margin-top: 23px;
  }
  &__card-image {
    border: 1px solid #e8e8e8;
  }
  &__card-buy {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0;
    span {
      flex-grow: 1;
    }
    .btn {
      flex-grow: 2;
    }
  }
  &__footer {}
  &__counter {
    text-align: center;
  }
  &__counter-caption {
    font-size: 16px;
    font-weight: 500;margin-bottom: 24px;
  }
  &__counter-count {
    border: 2px solid $color-main;
    display: inline-block;
    font-size: 24px;
    line-height: 52px;
    vertical-align: middle;
    padding: 0 20px;
  }

}
