// В этом файле должны быть стили для БЭМ-блока s-card, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.s-card {

  $block-name:                &; // #{$block-name}__element
  margin-bottom: 20px;

  &__name {
    text-align: center;
    font-size: 18px;
    font-weight: 500;
  }

}
