// В этом файле должны быть стили для БЭМ-блока main-blocks, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.main-blocks {

  $block-name:                &; // #{$block-name}__element
  @include container;
  margin-bottom: 20px;
  background: #e7e7e7;
  position: relative;

  @media (min-width: $screen-lg) {
    min-height: 50vh;
  }

  .bl-promo {
    display: none;
    position: absolute;
    right: -255px;
    top: 0;
    bottom: 0;
    height: 100%;
    width: 255px;
    // background: #000;
    background-size: cover;
    @media (min-width: $screen-xxl) {
      display: block;
    }
  }

  &--wb {
    background: #fff;
  }
}
