// В этом файле должны быть стили для БЭМ-блока page-header, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.page-header-wrap {
  background: #f6f6f6;
  border-bottom: 1px solid #cdcdcd;
  margin-bottom: 20px;
  @media (max-width: ($menu-desktop-width - 1)) {
    background: $color-main;
    margin-bottom: 0;
    border: none;
  }
}

.page-header {

  $block-name:                &; // #{$block-name}__element

  &__auth {
    min-width: 160px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    &--logged {
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
      span {
        font-weight: 500;
      }

      #{$block-name}__auth-divider {
        display: none;
      }
    }
  }
  &__auth-el {
    padding: 5px 0;
  }
  &__auth-divider {
    height: 15px;
    width: 1px;
    background: #000;
  }

  // мобильный вид шапки
  @media (max-width: ($menu-desktop-width - 1)) {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    padding: 15px;
    justify-content: space-between;
    height: 80px;
    .main-nav-toggler {
      flex: 0 0 40px;
      > span {
        background: #fff;
        &:before,
        &:after {
          background: #fff;
        }
      }
    }
    &__logo {
      flex-basis: auto;
      .logo {
        height: 80px;
        display: block;
        img {
          width: 100%;
          height: auto;
        }
      }
    }
    &__auth {
      display: none;
    }
    &__basket {
      flex-basis: auto;
      .basket {
        width: auto;
        padding: 10px;
        border-radius: 50%;
        border-color: #fff;
        .icon {
          fill: #fff;
        }
        span {
          display: none;
        }
      }
    }
    &__info {
      display: none;
    }
    &__social {
      display: none;
    }
  }

  // настольный вид шапки
  @media (min-width: $menu-desktop-width) {
    // @include row;
    padding-top: 30px;
    padding-bottom: 20px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;

    .main-nav-toggler {
      display: none;
    }
    &__logo {
      // @include make-col(3);
    }
    &__info {
      // @include make-col(3);
    }
    &__auth {
      // @include make-col(2);
    }
    &__basket {
      // @include make-col(2);
    }
    &__social {
      // @include make-col(1);
    }
  }
}
