// В этом файле должны быть стили для БЭМ-блока header-info, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.header-info {

  $block-name:                &; // #{$block-name}__element

  &__phone {
    font-size: 28px;
    line-height: 36px;
    margin: 0;
    color: $color-main;
    svg {
      fill: $color-main;
      margin-right: 10px;
    }
  }
  &__text {
    font-size: 14px;
    line-height: 36px;
    margin: 0;
  }

}
