// В этом файле должны быть стили для БЭМ-блока main-catalog, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.main-catalog {

  $block-name:                &; // #{$block-name}__element

  @include row;

  &__card {
    position: relative;
    margin-bottom: 20px;
    @media (min-width: $screen-sm) {
      @include make-col(6);
    }
    @media (min-width: $screen-md) {
      @include make-col(4);
    }
  }
  &__card-image {
    overflow: hidden;
    position: relative;
    background: #fff;
    display: block;
    width: 100%;
    padding-bottom: 58%;
    color: #000;
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
    background-size: cover;
  }
  &__card-name {
    position: absolute;
    top: 20px;
    left: 20px;
    margin: 0;
  }

}
