// В этом файле должны быть стили для БЭМ-блока footer-top, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.footer-top-wrap {
  background: #232323;
}

.footer-top {

  $block-name:                &; // #{$block-name}__element
  @include row;
  padding-top: 30px;
  padding-bottom: 35px;

  &__logo {
    @include make-col(12);
    @media (max-width: $screen-md) {
      .logo {
        margin: auto;
      }
    }
    @media (min-width: $screen-md) {
      @include make-col(3);
    }
  }
  &__cont {
    @include make-col(12);
    @media (max-width: $screen-md) {
      text-align: center;
    }
    @media (min-width: $screen-md) {
      @include make-col(9);
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
    }
    @media (min-width: $screen-xl) {

    }
  }
  &__nav {
    flex-basis: 100%;
    margin-top: 20px;
    margin-bottom: 30px;
  }
  &__pay {
    margin-bottom: 20px;
    svg {
      fill: #fff;
      margin-right: 33px;
      &:last-child {
        margin-right: 0;
      }
    }
    @media (min-width: $screen-lg) {

    }
    @media (min-width: $screen-xl) {

    }
  }
  &__pc-link {
    color: #959595;
  }
}

.footer-nav {
  list-style: none;
  display: block;
  margin: 0;
  padding: 0;
  font-size: 14px;
  @media (min-width: $screen-md) {
    column-count: 3;
    column-gap: 0;
  }
  @media (min-width: $screen-lg) {
    column-count: 4;
    column-gap: 0;
  }
  @media (min-width: $screen-xxl) {
    column-count: 1;
    display: flex;
    justify-content: space-between;
    li {
      display: inline-block;
    }
  }
  li {
    margin-bottom: 10px;
    padding-right: 20px;
  }
  a {
    display: block;
    text-decoration: none;
    color: #959595;
    &:hover,
    &:focus {
      color: #fff;
    }
  }
}
