// В этом файле должны быть стили для БЭМ-блока order, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.order {

  $block-name:                &; // #{$block-name}__element

  &__item {
    border-bottom: 1px solid #ccc;
  }

  &__details {
    @include row;
    padding: 30px 20px;
    font-size: 18px;
    color: #222;
    align-items: center;
    font-weight: 400;
  }
  &__details-person {
    @include make-col(5);
    display: flex;
    align-items: center;
    justify-content: flex-start;
    .elements-icr-block,
    .incr {
      width: 140px
    }
    .incr__val {
      border: 1px solid #000;
      border-radius: 3px;
      width: 60px;
    }
  }
  &__details-bonus {
    @include make-col(3);
    span {
      font-size: 24px;
      font-weight: 500;
      padding: 6px 3px;
      text-align: center;
    }
  }
  &__details-cost {
    @include make-col(3);
  }
}
