// В этом файле должны быть стили для БЭМ-блока terms-of-delivery, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.terms-of-delivery {

  $block-name:                &; // #{$block-name}__element

  margin-bottom: 30px;
  @media (min-width: $screen-xl) {
    margin: 0 100px 60px 100px;
  }

  &__title {
    font-size: 36px;
    font-weight: 500;
    margin-top: 0;
    margin-bottom: 30px;
    text-align: center;
  }

  &__map {
    background-color: #f2f2f2;
    height: 400px;
  }

}
