// В этом файле должны быть стили для БЭМ-блока authorization, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.authorization {

  $block-name:                &; // #{$block-name}__element

  max-width: 380px;
  margin: auto;
  padding: 30px 0;
}
